
body {
    font-family: 'Roboto', sans-serif;
}

/* header */

.second-logo{
    width: 30px;
}

/* Aside */
aside{
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 150px;
    overflow: auto;
    display: flex;
    background-color: #10273D;
    background-image: url(../img/sidebar-bg.png);
}

aside i{
    font-size: 15px;
    padding-right: .5rem;
}

.small{
    font-size: 25px;
    height: 30px;
}

.my_padding{
    padding-top: 28rem;
}

/* header main */
#header-main{
    background-color: #1C71E8;
}

.card button{
    font-size: 12px;
    height: 17px;
    width: 75px;
    line-height: .1;
}

#boolean{
    height: 150px;
    background-color: #1C71E8;
}

.my_search{
    background-color: #E5E5E5;
}

.my_input{
    background-color: #E5E5E5;
}

.navbar{
    height: 60px;
}

.boolean{
    font-size: 30px;
}

.my_circle{
    background-color: #165BBA;
}

.button{
    color: #5A5858;
}

/* Main */
main{
    width: calc(100vw - 80px);
    height: calc(100vh - 60px);
    overflow-y: auto;
}

li{
    list-style-type: none;
}


@media screen and (max-width: 992px){
    aside{
        width: 50px;
    }

    main{
        width: calc(100vw - 50px);
        height: calc(100vh - 60px);
        overflow-y: auto;
    }

    .search{
        width: 80%;
        padding-bottom: 2rem;
    }
}

@media screen and(max-width: 768px){
    .search{
        width: 70%;
    }

    
}