aside{
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 150vw;
    overflow: auto;
    display: flex;
    background-color: #10273D;
    background-image: url(../img/sidebar-bg.png);
}

#header-main{
    height: 100px;
    width: 90vw;
    background-color: #1C71E8;
}

#boolean{
    height: 200px;
    background-color: #1C71E8;
}
.navbar{
    height: 60px;
}
